.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    perspective: 1500px;
  }
.box-area {
    position: relative;
    transform-style: preserve-3d;
    animation-name: rotate1;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes rotate1 {
    0% {
      transform: rotate3d(0, 0, 0, 0);
    }
    100% {
      transform: rotate3d(0, 1, 0, 360deg);
      ;
    }
  }
  
  .box {
    position: absolute;
    width: 250px;
    height: 250px;
    /* border: 2px solid #262626; */
    
  }
  
  .box-front {
    transform: translateX(-120px) translateY(-120px) translateZ(124px);
    background: rgba(255, 16, 107, 0.5);
    background-size: cover;

  }
  
  .box-back {
    transform: translateX(-120px) translateY(-120px) translateZ(-124px);
    /* background: rgba(1, 251, 236, 0.5); */
    background-size: cover;
  }
  
  .box-right {
    transform: translateX(5px) translateY(-120px) rotateY(90deg);
    /* background: rgba(9, 190, 90, 0.5); */
    background-size: fit;
  }
  
 .box-left {
    transform: translateY(-120px) translateX(-245px) rotateY(90deg);
    /* background: rgba(216, 255, 0, 0.5); */
    background-size: contain;
  }
  
 .box-top {
    transform: translateX(-120px) translateY(-245px) rotateX(90deg);
    /* background: rgba(0, 6, 246, 0.5); */
    background-size: cover;
  }
  
 .box-bottom {
    transform: translateX(-120px) rotateX(90deg);
    /* background: rgba(255, 30, 0, 0.5); */
    background-size: cover;
   
    
  }
  
  .box-area {
    transform: rotateX(90deg) rotateY(90deg);
  }

  /* editing images in the cube */
.box-front .aboutk{
       width: 100%;
       height: 100%;  
       object-fit: cover;     
  }
  .box-back .aboutk{
    width: 100%;
    height: 100%;  
    transform: scaleX(-1);
    object-fit: cover;
        
}
.box-left .aboutk{
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
    height: 100%;       
}
.box-right .aboutk{
    width: 100%;
    height: 100%;  
    object-fit: cover;     
}

@media(max-width:800px)
{
   
    .wrapper{
      top:50%;
      left:50%;
      
    }
   
}