.boxSkill{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rot 20s linear infinite;
    top:50%;
    left: 35%;
}
@keyframes rot{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }

}
.boxSkill span{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
    -webkit-boxSkill-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}
.boxSkill span img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 768px)
    {
        .boxSkill span{
            transform: rotateY(calc(var(--i)*45deg)) translateZ(200px);
        }
        .boxSkill{
            left:30%
        }
    }
