.lund{
    scroll-behavior: smooth;
    margin-top: 60px;
}
.pbtn{
    background-color: var(--udarkp) !important;
    color:#fff !important;
    padding: 13px 13px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-radius: 4px;
}
.pbtn:hover{
    background-color: var(--medp) !important;
    color: #000 !important;
}