.btn-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cbtn{
    background-color: var(--medp) !important;
    color:#fff !important;
    padding: 13px 13px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-radius: 4px;
    font-family: 'Rajdhani', sans-serif;
}
.cbtn:hover{
    background-color: var(--darkp) !important;
    color: #000 !important;
}

.tagcloud--item:hover{
    color: #fff;
}