.btn-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cbtn{
    background-color: var(--medp) !important;
    color:#fff !important;
    padding: 13px 13px;
}
.cbtn:hover{
    background-color: var(--darkp) !important;
    color: #000 !important;
}