.projcontainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projcontainer .boxproj{
    position: relative;
    width: 300px;
    height: 530px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.projcontainer .boxproj:hover{
    color: #fff;
}
.projcontainer .boxproj::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #fff;
    background: rgb(28, 28, 28);
    filter: url(#wavy);
}
/* .projcontainer .boxproj:hover::before{
    background: rgb(41, 46, 48);
    transition: 0.5s;
} */
.projcontainer .boxproj .projcontent{
    position: absolute;
    padding: 20px;
    text-align: center;
    transition: 0.15s;
}

.projcontainer .boxproj::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    border: 4px solid #fff;
    border-right: none;
    background: rgba(255,255,255,.1);
    filter: url(#wavy);
}
.wv{
    width: 0;
    height: 0;

}
.projimg{
    height: 185px;
    width: 260px;
}
.projimg:hover{
    filter: blur(2px);
    scale: 1.1;
}