#logoH{
    position: absolute;
    /* top:50%; */
    /* left:50%; */
    animation: fill 0.8s ease forwards 3.5s;
    /* transform: translate(-50%, -50%); */
}
#logoH path:nth-child(1){
    stroke-dasharray: 400px;
    stroke-dashoffset: 300px;
    animation: lin-anim 2.3s ease forwards 0.2s;
}


@keyframes lin-anim{
    to{
        stroke-dashoffset: 0px;
        stroke-dasharray: 0px;
    }
}
@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: aliceblue;
    }
}

/* imgaes */
.homeimg{
    height: 500px;

}
.myimg{
    margin-top: 70px;
    margin-left: 145px;
}
.homeh1{
    color: aliceblue;
}
@media (max-width: 700px)  {
    .myimg{
        margin-left: 30px;

    }
    .homeh1{
        margin-left: 100px;
        margin-top: 70px;
    }
    #logoH{
        width: 300px;
    }
}
.svgimges{
    margin-left: 50px;
}