
.home-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:100px 0;
}
.home-col1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.home-col1 h1{
    font-size: 54px;
    font-family: 'Rubik Wet Paint', cursive;
    
}
.home-col1 h3{
    font-size:30px;
    color:#fff;
    font-family: 'Rubik Glitch', cursive;
}
.home-row1{
    margin-top:30px;
    margin-bottom:40px;
}
.home-col1::after{
    content:'';
    width:10px;
    height:100%;
    background: linear-gradient(#27104E,#64379F);
    position: absolute;
    left: -40px;
    top: 10px;
}
.home-col2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
    /* margin-left:250px; */
    
}
.home-col2 .home-img{
    width:70%;
    height: 500px;
    transform: translateX(120px);
}
@media only screen and (max-width:1000px){
    .home-col2 .home-img{
        width: 80%;
        height: 400px;
        transform: translateX(30px);
    }
}
/* applicable whose screen width is less than 700 */
@media only screen and (max-width:700px){
    .home-row{
        flex-direction: column-reverse;
        /* margin:50px 0; */
    }
    .home-col2{
        flex-basis:100%;
        margin-bottom:50px;
    }
    .home-col2 .home-img{
        width: 80%;
        transform: translateX(62px);
    }
    .home-col1{
        flex-basis:100%;

    }
    .home-row1{
        margin-top:20px;
        margin-bottom:20px;
    }
}

@media only screen and (max-width:450px){
    .home-col2 .home-img{
        transform: translateX(30px);
        width:85%;
        height:300px;
    }
    .home-row{
        margin-bottom: 20px;;
    }
}