:root{
    --primary:rgb(19, 137, 176);
}

.home{
    background-color: rgb(47, 151, 220);
}
.skills{
    background-color: aquamarine;
    height: auto;
}
.aboutme{
    background-color: var(--primary);
    height: 900px;
}
.achivements{
    background-color: aqua;

}
.portfolio{
    background-color: brown;
}
.contact{
    background-color: cornflowerblue;
}