.home-container{
    height: 700px;
    /* background-color: rgb(19, 137, 176); */
}
.aboutmeback{
  /* background-image: url("../../images/sectionimages/HomeStud.jpg"); */
  /* background-color: rgb(19, 137, 176); */
  height: auto;
}
.container-p{
   
    /* when u want to use fixed navbar use this */
    /* margin-top:150px; */

 
    overflow: hidden;

    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -70px;
}
.container-p img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}
.container-p h2{
    z-index: 1;
    position: relative;
    color: #fff;
    font-size:90px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing:32px;
}
.container-p h2 span{
    font-size:48px;
    font-weight:500;
    letter-spacing:10px;
}


@media(max-width:800px)
{
    .container-p h2{
        font-size: 60px;
        letter-spacing: 19px;
        line-height: 35px;
    }
    .container-p h2 span{
        font-size:26px;
    }
    .object{
      opacity: 0;
    }
    .home-container{
      height: 500px;
      
    }
    .wrapper{
      top:20%;
      left:50%;
      margin-top: -40px;
    }
    .abtmecontainer{
      margin-top: -200px;
      margin-bottom: 10px;
    }
}


